#root{
  width:100%;
  height:100vh;
  margin:0;
  padding:0;
  position: relative;
  overflow:auto;
}
.background{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #202C39;

}
.foreground{
  width:60%;
  height:35%;
  border-radius: 1.5em;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2D492;
  margin: auto;
}